@font-face {
  font-family: 'PT sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
}

@font-face {
  font-family: 'PT sans';
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f2f2f2;
}

.body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.wrapper-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Стили для header============================================================================= */
.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 168px;
}

.page-header-navigation-container {
  display: flex;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  min-height: 64px;
  overflow: visible;
  z-index: 1;
}

.navigation-button-container {
  width: 160px;
  margin-left: auto;
}

.navigation-button {
  width: 100%;
  height: 100%;
  padding: 8px 34px;

  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
}

.navigation-button:hover {
  background-color: rgb(97 80 72 / 100%);
}

.navigation-button:active {
  background-color: rgb(117 97 87 / 100%);
  color: rgb(255 255 255 / 30%);
}

.navigation-button:focus {
  background-color: rgb(97 80 72 / 100%);
}

.navigation-button:disabled {
  background-color: rgb(229 229 229 / 100%);
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 600px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-item {
  position: relative;
  padding: 20px 16px;
}

.sub-navigation-list {
  display: flex;
  list-style: none;
  width: 268px;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  padding-top: 14px;
}

.sub-navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  padding-top: 10px;
}
.sub-navigation-item__img {
  cursor: pointer;
}
.sub-navigation-item__img:hover {
  opacity: 0.6;
}
.sub-navigation-item__img:focus {
  opacity: 1;
  border: none;
  outline: 3px solid #68a2ca;
}
.sub-navigation-item__img:active {
  opacity: 0.3;
}

.logo {
  position: absolute;
  content: '';
  left: 70px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.6;
}
.navigation-link:focus {
  opacity: 0.6;
}
.navigation-link:active {
  opacity: 0.3;
}

.navigation-link--active::before {
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  position: absolute;
  content: '';
  bottom: 0;

  left: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider {
  position: relative;
  width: 1200px;
  min-height: 485px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  background-color: #68a2ca;

  background-image: url('../images/slider-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slider::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url('../images/slider-mask.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Стили для main============================================================================= */
.main-index {
  width: 100%;
}

.advantages {
  width: 100%;
}

.section-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.advantages-title {
  width: 620px;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;

  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.advantages-subtitle {
  width: 651px;
  display: flex;
  justify-content: center;

  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
}
.advantages-item-small {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 400px;
  min-height: 385px;
  padding: 112.5px 85px;

  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}
.advantages-item-small .advantages-text {
  color: rgba(51, 51, 51, 1);
}

.advantages-item-small:nth-child(2n) {
  background-color: rgb(131 179 211 / 12%);
}

.advantages-description {
  position: relative;
  background-color: #82b3d3;
  min-height: 385px;
  width: 400px;
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.advantages-description-line {
  position: absolute;
  content: '';
  bottom: 195px;
  left: 170px;
  height: 2px;
  width: 60px;
  background-color: rgb(255 255 255 / 30%);
}

.advantages-description-line2 {
  position: absolute;
  content: '';
  bottom: 185px;
  left: 170px;
  height: 2px;
  width: 60px;
  background-color: rgb(0 0 0 / 30%);
}

.advantages-name {
  width: 172px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.services {
  width: 1200px;
}

.services-list-title {
  padding: 64px 347px;
  text-align: center;
}

.services-title {
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 400px;
  min-height: 385px;
  padding: 182px 85px 81px 85px;
  background-color: rgb(131 179 211 / 12%);

  background-image: url('../images/house.svg');
  background-repeat: no-repeat;
  background-position: center 80px;
}
.services-item--burger {
  background-image: url('../images/hamburger.svg');
}
.services-item--gift {
  background-image: url('../images/box.svg');
}
.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-name {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
}

.subscription-top-container {
  padding: 96px 304px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscription-text {
  margin: 0;
  margin-bottom: 54px;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscription-link {
  padding: 8px 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.subscription-link:hover {
  background-color: rgb(97 80 72 / 100%);
}

.subscription-link:active {
  background-color: rgb(117 97 87 / 100%);
  color: rgb(255 255 255 / 30%);
}

.subscription-link:focus {
  background-color: rgb(97 80 72 / 100%);
}

.subscription-link:disabled {
  background-color: rgb(229 229 229 / 100%);
}

.subscription-submit-button {
  font-family: 'PT sans', sans-serif;
  width: 232px;
  min-height: 51px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscription-submit-button:hover {
  background-color: rgb(104 162 202 / 100%);
}

.subscription-submit-button:active {
  background-color: rgb(104 162 202 / 100%);
  color: rgb(255 255 255 / 30%);
}

.subscription-submit-button:disabled {
  background-color: rgb(131 179 211 / 100%);
}

.subscription-submit-button:focus {
  background-color: rgb(104 162 202 / 100%);
}

.subscription-bottom-container {
  text-align: center;
  padding: 96px 258px 104px;
  background-image: url('../images/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
}

.subscription-subtitle {
  margin: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscription__form {
  display: flex;
  min-height: 52px;
}

.subscription__email {
  display: flex;
  flex-grow: 1;
  padding: 20px 18px 16px;
  outline: none;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscription__email:focus {
  outline: 3px solid #83b3d3;
}

.subscription__email::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  opacity: 0.6;
  color: #000000;
}

.subscription-subtext {
  margin-bottom: 53px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
  background-color: rgb(0 0 0 / 60%);
}

.modal {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  padding: 64px 70px;
  width: 717px;
  min-height: 576px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal--close {
  display: none;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  width: 52px;
  height: 52px;
  top: 65px;
  right: 50px;
  border-radius: 50%;
  background-color: rgb(242 242 242 / 100%);
  border: none;
  background-image: url('../images/close.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: rgb(230 230 230 / 100%);
  color: rgb(0 0 0 / 100%);
}

.modal-close-button:active {
  background-color: rgb(230 230 230 / 100%);
  color: rgb(0 0 0 / 100%);
  opacity: 0.3;
}

.modal-close-button:disabled {
  background-color: rgb(242 242 242 / 100%);
}

.modal-close-button:focus {
  background-color: rgb(230 230 230 / 100%);
  border: 1px solid rgb(131 179 211 / 100%);
}

.modal-title {
  margin: 0;
  width: 413px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 64px;
  color: #000000;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

.search-form__input-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  place-content: flex-start space-between;
  width: 100%;
  height: 48px;
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.date-in {
  background-color: rgb(242 242 242 / 100%);
  width: 440px;
  height: 48px;
  border: none;
  padding-left: 20px;
  outline: none;
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.date-in:hover {
  color: rgb(0 0 0 / 80%);
}

.date-in:active {
  color: rgb(0 0 0 / 100%);
  border: none;
}

.date-in:disabled {
  color: rgb(0 0 0 / 60%);
}

.date-in:focus {
  outline: 3px solid rgb(131 179 211 / 100%);
}

.search-form__input-wrapper::before {
  position: absolute;
  background-repeat: no-repeat;
  padding: 0;
  top: 15px;
  right: 20px;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../images/date.png');
}

.search-form__input-wrapper::after {
  position: absolute;
  background-repeat: no-repeat;
  display: flex;

  /* Сообщение об ошибке */
  top: 52px;
  left: 157px;
  width: 440px;
  min-height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  padding: 0;
  content: 'Мы не можем отправить вас в прошлое.';
  color: rgb(255 87 87 / 100%);
}

.search-form__input-wrapper-color::after {
  content: 'На эти даты есть свободные номера.Пока есть. ';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #333333;
}

.counter-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start space-between;
  width: 100%;
  height: 48px;
  margin-bottom: 48px;
}

.counter-container {
  position: relative;
  display: flex;
  width: 247px;
  height: 100%;

  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.counter-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 100%;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 60px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-top: 11px;
  margin-right: 35px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: 700;
  transform: rotate(180deg);
  color: #ffffff;
}

.tooltip-icon {
  width: 1px;
  height: 9px;
  color: #83b3d3;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 20px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.counter {
  display: flex;
  width: 110px;
  height: 48px;
  background-color: rgb(242 242 242 / 100%);
}

.sign-wrapper {
  display: flex;
  place-content: center center;
  flex-wrap: wrap;
  align-items: center;
  width: 40px;
  height: 48px;
}

.sign {
  display: flex;
  position: relative;
  place-content: center center;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  color: rgb(117 97 87 / 30%);
}

.sign:hover {
  color: rgb(0 0 0 / 100%);
}

.sign:active {
  color: rgb(0 0 0 / 30%);
}

.sign:disabled {
  color: rgb(117 97 87 / 30%);
}

.sign:focus {
  color: rgb(0 0 0 / 100%);
  border: 3px solid rgb(130 179 211 / 100%);
}

.guest-count {
  display: flex;
  position: relative;
  place-content: center center;
  border: none;
  flex-wrap: wrap;
  align-items: center;

  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  height: 100%;
  width: 31px;
  background-color: transparent;
  padding-left: 5px;
}

.search-window {
  display: flex;
  position: relative;
  place-content: center center;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  border: none;
  height: 60px;
  background-color: rgb(131 179 211 / 100%);
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.search-window:hover {
  background-color: rgb(104 162 202 / 100%);
}

.search-window:active {
  background-color: rgb(104 162 202 / 100%);
  color: rgb(255 255 255 / 30%);
}

.search-window:disabled {
  background-color: rgb(229 229 229 / 100%);
}

.search-window:focus {
  background-color: rgb(104 162 202 / 100%);
}

/* Стили для страницы Каталога =============================================================================== */

.options {
  background-image: url('../images/filter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  padding: 35px 70px 57px;

  background-color: #68a2ca;
}

.options-title {
  /* Гостиницы Седоны */

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  width: 100%;
  margin: 0;
  margin-bottom: 8px;
}

.options-breadcrumbs {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.options-breadcrumbs-item {
  position: relative;
}

.options-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.options-subtitle-house {
  margin-top: 3px;
  display: flex;
}

.options-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options-subtitle {
  /* Гостиницы */
  position: relative;
  padding-left: 18px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 40px;
  margin-left: 10px;
}

.options-subtitle::before {
  position: absolute;
  content: '';
  top: 5px;
  left: 0;

  width: 8px;
  height: 11px;
  background-image: url('../images/breadcrumbs.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.options-filter-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.filter-list-title {
  /* Инфраструктура: */
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 32px;
  width: 100%;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.options-item {
  /* Бассейн */
  position: relative;
  display: flex;
  padding-left: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  color: #ffffff;
}

.options-item:hover {
  opacity: 0.6;
}
.options-item:focus {
  opacity: 1;
}
.options-item:active {
  opacity: 0.3;
}

/* Чекбокс */

.checkbox_input {
  appearance: none;
}

.checkbox_label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.checkbox_label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  z-index: 1;
}

.checkbox_input:checked + .checkbox_label::before {
  background: url('../images/check.svg') no-repeat;
  background-size: 20px;
}

.checkbox_input:focus + .checkbox_label::before {
  outline: 3px solid rgb(131 179 211 / 100%);
}

/* Радио-кнопки */
.radio_input {
  appearance: none;
}

.radio_label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.radio_label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 25px;
  z-index: 1;
}

.radio_input:checked + .radio_label::before {
  background: url('../images/radio.svg') no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: #ffffff;
}

.radio_input:focus + .radio_label::before {
  outline: 3px solid rgb(131 179 211 / 100%);
}

.options-filter-type-of-housing {
  width: 150px;
}

.options-filter-price {
  width: 288px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start space-between;
  align-items: flex-start;
}

.options-filter-controls {
  width: 261px;
  display: flex;
  place-content: flex-start flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-number-input-wrapper-1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  width: 49%;
  height: 48px;
  margin-bottom: 44px;
}

.filter-number-input-wrapper-2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  width: 49%;
  height: 48px;
  margin-bottom: 44px;
}

.filter-number-label {
  position: absolute;
  top: calc(50% - 20px);
  right: 3px;
  display: flex;
  align-items: center;
  width: 32px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0 0 0 / 30%);
  background-color: rgb(255 255 255);
  cursor: pointer;
}

.filter-number-input {
  padding-left: 20px;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
}

.filter-number-input:focus {
  outline: 3px solid rgb(131 179 211 / 100%);
}

.submit {
  /* Кнопка */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  min-height: 36px;
  margin-top: 55px;
  margin-bottom: 35px;
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(104 162 202 / 100%);
}

.submit:active {
  background-color: rgb(104 162 202 / 100%);
  color: rgb(255 255 255 / 30%);
}

.submit:disabled {
  background-color: rgb(229 229 229 / 100%);
}

.submit:focus {
  background-color: rgb(104 162 202 / 100%);
}

.reset {
  /* Кнопка */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  min-height: 36px;
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.reset:hover {
  color: rgb(255 255 255 / 90%);
}

.reset:active {
  color: rgb(255 255 255 / 30%);
}

.reset:disabled {
  color: #ffffff;
}

.reset:focus {
  color: rgb(255 255 255 / 60%);
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.search {
  width: 1200px;
  padding: 50px 70px;
}

.search__filter {
  display: flex;
  place-content: flex-start space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

.search__filter-select-wrapper {
  min-width: 292px;
  height: 49px;
  margin-left: auto;
  margin-right: 60px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.search__filter-select {
  width: 100%;
  height: 100%;
  font-style: normal;

  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
  outline: none;
}

.search__filter-title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 370px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search__item-img {
  margin-bottom: 14px;
}

.search__item-price {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.search__item-price-label {
  margin: 0;
}
.search__item-price-value {
  margin: 0;
}

.search__filter-list {
  display: flex;
  flex-wrap: wrap;

  width: 170px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search__filter-item {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  margin-bottom: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
}

.search__filter-item:hover,
.search__filter-item:active {
  border: 2px solid #000000;
}

.search__filter-item:focus {
  border: 2px solid #68a2ca;
}

.search__filter-item-button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #ffffff;
  background-image: url('../images/filter-list.svg');
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}

.search__item-button {
  width: 140px;
  min-height: 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 3px;
  padding: 8px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: 0;
  cursor: pointer;
  font-family: 'PT sans', sans-serif;
  border-radius: 4px;
}

.search__item-button:hover {
  background-color: #615048;
}

.search__item-button:focus {
  background-color: #615048;
}

.search__item-button:active {
  background-color: #756157;
  color: rgb(255 255 255 / 30%);
}

.search__item-button:disabled {
  background-color: #e5e5e5;
}

.search__list {
  display: grid;
  width: 100%;
  grid-template-columns: min-content min-content min-content;
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

@media (max-width: 1080px) {
  .search__list {
    grid-template-columns: min-content min-content;
  }
}

.search__item {
  width: 340px;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 20px 20px 17px 20px;
}

.search__item-title {
  display: flex;
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.search__item-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 13px;
}

.search__item-rating-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search__item-stars-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search__item-stars-item {
  width: 18px;
  height: 17px;
  margin-top: 10px;
  margin-right: 6px;
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.pagination {
  width: 100%;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;

  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border: 0;
}

.pagination__item-number:hover {
  background-color: rgb(104 162 202 / 100%);
}

.pagination__item-number:active {
  background-color: rgb(104 162 202 / 100%);
  color: rgb(255 255 255 / 30%);
}

.pagination__item-number:disabled {
  background-color: rgb(229 229 229 / 100%);
}

.pagination__item-number:focus {
  background-color: rgb(104 162 202 / 100%);
}

.subscription-catalog {
  width: 1200px;
  padding: 106px 258px 104px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-post {
  display: flex;
  width: 684px;
  min-height: 52px;
  justify-content: space-between;
  align-items: center;
}

.post-email {
  width: 452px;
  height: 46px;
  padding-left: 20px;
  border-radius: 3px 0 0 3px;
  border: none;

  background-color: rgba(242, 242, 242, 1);
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0;
  display: flex;
  align-items: center;
  color: #000000;
  outline: 3px solid rgba(242, 242, 242, 1);
}

.post-email:focus {
  outline: 3px solid #83b3d3;
}

.post-email::placeholder {
  opacity: 0.6;
}

/* Стили для footer============================================================================= */
.footer {
  display: flex;
  justify-content: space-between;

  padding: 44px 70px 40px;
  min-height: 100px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 156px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item-vk {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url('../images/vk-hover.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.8;
  font-size: 0;
}

.footer-social-item-vk:hover {
  opacity: 1;
}

.footer-social-item-vk:focus {
  opacity: 1;
}

.footer-social-item-vk:active {
  opacity: 0.3;
}

.footer-social-item-tg {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url('../images/telegram-hover.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  font-size: 0;
  cursor: pointer;
}

.footer-social-item-tg:hover {
  opacity: 1;
}

.footer-social-item-tg:focus {
  opacity: 1;
}

.footer-social-item-tg:active {
  opacity: 0.3;
}

.footer-social-item-youtube {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url('../images/youtube-hover.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  font-size: 0;
  cursor: pointer;
}

.footer-social-item-youtube:hover {
  opacity: 1;
}

.footer-social-item-youtube:focus {
  opacity: 1;
}

.footer-social-item-youtube:active {
  opacity: 0.3;
}
.footer-tel-wrapper {
  width: 400px;
}

.footer-tel {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin-left: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.footer-tel:hover {
  color: #756157;
}

.footer-tel:active {
  color: rgb(117 97 87 / 30%);
}

.footer-tel:disabled {
  color: rgb(0 0 0 / 100%);
}

.footer-tel:focus {
  color: rgb(117 97 87 / 100%);
  border: none;
  outline: none;
}

.footer-logo {
  width: 156px;
  display: flex;
  top: 48.5px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  font-size: 0;
}

.footer-logo:hover path {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-logo:disabled path {
  fill: rgba(0, 0, 0, 1);
}

.footer-logo:focus path {
  fill: rgba(117, 97, 87, 1);
}

/* модификаторы */
.search__item-button--favorites {
  background-color: #82b3d3;
}

.search__item-button--favorites:hover {
  background-color: #68a2ca;
}

.search__item-button--favorites:active {
  background-color: #82b3d3;
}

.search__item-button--favorites:focus {
  background-color: #68a2ca;
}

.search__item-button--favorites:disabled {
  background-color: #e5e5e5;
}

.search__item-button--in-favorites {
  background-color: #7db54f;
}

.search__item-button--in-favorites:hover {
  background-color: #6c9e42;
}

.search__item-button--in-favorites:active {
  background-color: #7db54f;
}

.search__item-button--in-favorites:focus {
  background-color: #6c9e42;
}

.search__item-button--in-favorites:disabled {
  background-color: #e5e5e5;
}

.search__item-button--rating {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
  cursor: initial;
}

.search__item-button--rating:hover,
.search__item-button--rating:active,
.search__item-button--rating:focus {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
}

.pagination__item-number--disabled {
  background-color: #f2f2f2;
  color: #000000;
  cursor: initial;
}

.pagination__item-number--disabled:hover {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination__item-number--disabled:active {
  background-color: #f2f2f2;
}

.pagination__item-number--disabled:disabled {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination__item-number--disabled:focus {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination__item-number--default {
  background-color: #ffffff;
  color: #000000;
  cursor: initial;
}

.pagination__item-number--default:hover {
  background-color: #ffffff;
  color: #000000;
}

.pagination__item-number--default:active {
  background-color: #ffffff;
  color: #000000;
}

.pagination__item-number--default:disabled {
  background-color: #ffffff;
  color: #000000;
}

.pagination__item-number--default:focus {
  background-color: #ffffff;
  color: #000000;
}

.sub-navigation-item--heart {
  position: relative;
  cursor: pointer;
}

.sub-navigation-item--heart::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2px;
  right: 4px;
  content: '12';
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.search__filter-item-button--icons {
  background-image: url('../images/filter-icons.svg');
}

.search__filter-item-button--cards {
  background-image: url('../images/filter-cards.svg');
}

.search__item-stars-item--hidden {
  display: none;
}

.search__filter-item--active {
  border-color: rgb(0 0 0 / 100%);
}

.sign--minus {
  margin-top: -5px;
}
.filter-number-input--to {
  border-radius: 0 4px 4px 0;
}

/* Range */
.options-range-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}

.options-range-button {
  position: absolute;
  content: '';
  top: -8px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 0;
}

.options-range-button--right {
  left: 208px;
}

.options-range-wrapper::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 60px;
  height: 4px;
  background: #808080;
}

input[type='range'] {
  appearance: none;
  width: 300px;
  height: 4px;
  background: #ffffff;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0;
}

.counter-container--children {
  width: 242px;
}
