@font-face {
  font-family: 'PT sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ptsans-400.woff2') format('woff2'),
    url('../fonts/ptsans-400.woff2') format('woff');
}

@font-face {
  font-family: 'PT sans';
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src: url('../fonts/ptsans-700.woff2') format('woff2'),
    url('../fonts/ptsans-700.woff2') format('woff');
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

html {
  background-color: #f2f2f2;
}

.body {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  box-shadow: 0 0 15px 0 #00000033;
}

/* Стили для header============================================================================= */
.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.page-header-navigation-container {
  display: flex;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  height: 64px;
  overflow: visible;
  z-index: 1;
}

.navigation-button-container {
  width: 160px;
  margin-left: auto;
}

.navigation-button {
  /* Кнопка */
  width: 100%;
  height: 100%;
  padding: 8px 34px;
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-button:hover {
  background-color: rgb(97 80 72 / 100%);
}

.navigation-button:active {
  background-color: rgb(117 97 87 / 100%);
  color: rgb(255 255 255 / 30%);
}

.navigation-button:focus {
  background-color: rgb(97 80 72 / 100%);
}

.navigation-button:disabled {
  background-color: rgb(229 229 229 / 100%);
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-item {
  position: relative;
  padding: 20px 16px;
}

.sub-navigation-list {
  display: flex;
  list-style: none;
  width: 268px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.sub-navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
}

.logo {
  margin-right: 28px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link--active::before {
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  position: absolute;
  content: '';
  bottom: 0;
  left: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider {
  position: relative;
  width: 1200px;
  height: 485px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/images/slider-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.slider::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url('/images/slider-mask.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-text {
  margin-top: -30px;
}

/* Стили для main============================================================================= */
.main-index {
  width: 100%;
}

.advantages {
  width: 100%;
}

.section-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.advantages-title {
  width: 620px;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;

  /* Седона — небольшой городок в Аризоне, заслуживающий большего! */
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.advantages-subtitle {
  width: 651px;
  display: flex;
  justify-content: center;

  /* Рассмотрим причины, по которым Седона круче, чем Гранд-Каньон! */
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
}

.advantages-description {
  position: relative;
  background-color: #82b3d3;
  height: 385px;
  width: 400px;
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.advantages-description-line {
  position: absolute;
  content: '';
  bottom: 195px;
  left: 170px;
  height: 2px;
  width: 60px;
  background-color: rgb(255 255 255 / 30%);
}

.advantages-description-line2 {
  position: absolute;
  content: '';
  bottom: 185px;
  left: 170px;
  height: 2px;
  width: 60px;
  background-color: rgb(0 0 0 / 30%);
}

.advantages-name {
  /* Настоящий городок */
  width: 172px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  /* Седона — не аттракцион для туристов, там течёт своя жизнь */
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.services-list-title {
  padding: 64px 347px;
  text-align: center;
}

.services-title {
  /* Приезжайте в Седону отдохнуть в комфорте и уюте! */
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-subtitle {
  /* Опытный персонал и качественное обслуживание! */

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.services-list {
  display: flex;
}

.services-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  height: 385px;
  padding: 81px 85px;
  background-color: rgb(131 179 211 / 12%);
}

.services-name {
  /* Жильё */
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-item-img {
  margin-bottom: 30px;
}

.services-text {
  /* Рекомендуем пожитьв настоящем мотеле,
всё как в кино! */
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscription-top-container {
  padding: 96px 304px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subscription-title {
  /* Заинтересовались? */
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscription-text {
  margin-bottom: 54px;
  text-align: center;

  /* Укажите предполагаемые даты поездки,и мы покажем вам лучшие предложения гостиниц в Седоне */

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscription-link {
  /* ПОИСК ГОСТИНИЦЫ В седоне */
  padding: 8px 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
}

.subscription-submit-button {
  /* Подписаться */
  font-family: 'PT sans', sans-serif;
  width: 232px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscription-submit-button:hover {
  background-color: rgb(104 162 202 / 100%);
}

.subscription-submit-button:active {
  background-color: rgb(104 162 202 / 100%);
  color: rgb(255 255 255 / 30%);
}

.subscription-submit-button:disabled {
  background-color: rgb(131 179 211 / 100%);
}

.subscription-submit-button:focus {
  background-color: rgb(104 162 202 / 100%);
}

.subscription-bottom-container {
  text-align: center;
  padding: 96px 258px 104px;
  background-image: url('/images/Subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-podtitle {
  margin-bottom: 20px;

  /* Подпишитесь на рассылку */

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscription__form {
  display: flex;
  height: 52px;
}

.subscription__email {
  display: flex;
  flex-grow: 1;
  padding: 28px 18px 20px;
  outline: none;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscription__email:focus {
  border: 3px solid #83b3d3;
}

.subscription__email::placeholder {
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  color: #000000;
}

.subscription-podtext {
  /* Только полезная информация и никакого спама, честное бойскаутское! */
  margin-bottom: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
  background-color: rgb(0 0 0 / 60%);
}

.modal {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  padding: 64px 70px;
  width: 717px;
  height: 576px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal--close {
  display: none;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  width: 52px;
  height: 52px;
  top: 65px;
  right: 50px;
  border-radius: 50%;
  background-color: rgb(242 242 242 / 100%);
  border: none;
  background-image: url('/images/close.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: rgb(230 230 230 / 100%);
  color: rgb(0 0 0 / 100%);
}

.modal-close-button:active {
  background-color: rgb(230 230 230 / 100%);
  color: rgb(0 0 0 / 100%);
  opacity: 0.3;
}

.modal-close-button:disabled {
  background-color: rgb(242 242 242 / 100%);
}

.modal-close-button:focus {
  background-color: rgb(230 230 230 / 100%);
  border: 1px solid rgb(131 179 211 / 100%);
}

.modal-title {
  /* Поиск гостиницы в Седоне */

  width: 413px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 64px;
  color: #000000;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

.search-form__input-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  place-content: flex-start space-between;
  width: 100%;
  height: 48px;
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.date-1 {
  background-color: rgb(242 242 242 / 100%);
  width: 440px;
  height: 48px;
  border: none;
  padding-left: 20px;
  outline: none;
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.date-1:hover {
  background-color: rgb(230 230 230 / 100%);
  color: rgb(0 0 0 / 80%);
}

.date-1:active {
  background-color: rgb(230 230 230 / 100%);
  color: rgb(0 0 0 / 100%);
  border: none;
}

.date-1:disabled {
  background-color: rgb(242 242 242 / 100%);
  color: rgb(0 0 0 / 60%);
}

.date-1:focus {
  background-color: rgb(230 230 230 / 100%);
  color: rgb(0 0 0 / 60%);
  border: 3px solid rgb(131 179 211 / 100%);
}

.search-form__input-wrapper::before {
  position: absolute;
  background-repeat: no-repeat;
  padding: 0;
  top: 15px;
  right: 20px;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('/images/date.png');
}

.search-form__input-wrapper::after {
  position: absolute;
  background-repeat: no-repeat;
  display: flex;

  /* Сообщение об ошибке */
  top: 52px;
  left: 157px;
  width: 440px;
  height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  padding: 0;
  content: 'Мы не можем отправить вас в прошлое.';
  color: rgb(255 87 87 / 100%);
}

.search-form__input-wrapper-color::after {
  /* Сообщение об ошибке */
  content: 'На эти даты есть свободные номера.Пока есть. ';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #333333;
}

.counter-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start space-between;
  width: 100%;
  height: 48px;
  margin-bottom: 48px;
}

.counter-container {
  position: relative;
  display: flex;
  width: 247px;
  height: 100%;

  /* Взрослые: */

  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.counter-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 100%;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 60px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-top: 11px;
  margin-right: 35px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  transform: rotate(180deg);
  color: #ffffff;
}

.tooltip-icon {
  width: 1px;
  height: 9px;
  color: #83b3d3;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 20px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.counter {
  display: flex;
  width: 110px;
  height: 48px;
  background-color: rgb(242 242 242 / 100%);
}

.znak-wraper {
  display: flex;
  place-content: center center;
  flex-wrap: wrap;
  align-items: center;
  width: 40px;
  height: 48px;
}

.znak {
  display: flex;
  position: relative;
  place-content: center center;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  color: rgb(117 97 87 / 30%);
}

.znak:hover {
  color: rgb(0 0 0 / 100%);
}

.znak:active {
  color: rgb(0 0 0 / 30%);
}

.znak:disabled {
  color: rgb(117 97 87 / 30%);
}

.znak:focus {
  color: rgb(0 0 0 / 100%);
  border: 3px solid rgb(130 179 211 / 100%);
}

.number-2 {
  display: flex;
  position: relative;
  place-content: center center;
  border: none;
  flex-wrap: wrap;
  align-items: center;

  /* 2 */
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  height: 100%;
  width: 31px;
  background-color: transparent;
  padding-left: 5px;
}

.search-window {
  display: flex;
  position: relative;
  place-content: center center;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  border: none;
  height: 60px;
  background-color: rgb(131 179 211 / 100%);
  cursor: pointer;

  /* Найти */

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.search-window:hover {
  background-color: rgb(104 162 202 / 80%);
}

.search-window:active {
  background-color: rgb(104 162 202 / 30%);
}

.search-window:disabled {
  background-color: rgb(104 162 202 / 60%);
}

.search-window:focus {
  background-color: rgb(104 162 202 / 100%);
}

/* Стили для страницы Каталога =============================================================================== */

.options {
  background-image: url('/images/filter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  padding: 35px 70px 57px;
}

.options-title {
  /* Гостиницы Седоны */

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  width: 100%;
  margin-bottom: 8px;
}

.options-breadcrambs {
  width: 100%;
  display: flex;
}

.options-breadcrambs-item {
  position: relative;
}

.options-breadcrambs-item::before {
  position: absolute;
  content: '';
  inset: 5px 5.55px 5px 23.8px;
  width: 8px;
  height: 11px;
  background-image: url('/images/breadcrumbs.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.options-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.options-subtitle-house {
  margin-right: 18px;
  margin-top: 3px;
  display: flex;
}

.options-subtitle {
  /* Гостиницы */

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 40px;
  margin-left: 10px;
}

.options-filter {
  width: 150px;
  margin-right: 70px;
}

.filter-list-title {
  /* Инфраструктура: */
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  width: 100%;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.options-item {
  /* Бассейн */
  position: relative;
  display: flex;
  padding-left: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  color: #ffffff;
}

/* Чекбокс */

.checkbox_input {
  appearance: none;
}

.checkbox_label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.checkbox_label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 3px;
  z-index: 1;
}

.checkbox_input:checked + .checkbox_label::before {
  background: url('/images/check.svg') no-repeat;
  background-size: contain;
}

.checkbox_input:focus + .checkbox_label::before {
  border: 3px solid rgb(131 179 211 / 100%);
}

/* Радио-кнопки */
.radio_input {
  appearance: none;
}

.radio_label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.radio_label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 25px;
  z-index: 1;
}

.radio_input:checked + .radio_label::before {
  background: url('/images/radio.svg') no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: #ffffff;
}

.radio_input:focus + .radio_label::before {
  border: 3px solid rgb(131 179 211 / 100%);
}

.options-filter2 {
  width: 150px;
}

.options-filter3 {
  width: 288px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start space-between;
  align-items: flex-start;
}

.options-filter4 {
  width: 261px;
  display: flex;
  place-content: flex-start flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-number-input-wrapper-1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  width: 49%;
  height: 48px;
  margin-bottom: 42px;
}

.filter-number-input-wrapper-1::before {
  position: absolute;
  content: 'от';
  top: calc(50% - 20px);
  right: 3px;
  display: flex;
  align-items: center;
  width: 32px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0 0 0 / 30%);
  background-color: rgb(255 255 255);
}

.filter-number-input-wrapper-2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  width: 49%;
  height: 48px;
  margin-bottom: 42px;
}

.filter-number-input-wrapper-2::before {
  position: absolute;
  content: 'до';
  top: calc(50% - 20px);
  right: 6px;
  display: flex;
  align-items: center;
  width: 32px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0 0 0 / 30%);
  background-color: rgb(255 255 255);
}

.filter-number-input {
  padding-left: 20px;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.filter-number-input:focus {
  border: 3px solid rgb(131 179 211 / 100%);
  border-radius: 4px 0 0 4px;
}

.submit {
  /* Кнопка */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 36px;
  margin-top: 55px;
  margin-bottom: 35px;
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(104 162 202 / 100%);
}

.submit:active {
  background-color: rgb(130 179 211 / 100%);
  opacity: 0.3;
}

.submit:disabled {
  background-color: rgb(229 229 229 / 100%);
}

.submit:focus {
  background-color: rgb(104 162 202 / 100%);
}

.reset {
  /* Кнопка */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 36px;
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.reset:hover {
  color: rgb(255 255 255 / 90%);
}

.reset:active {
  color: rgb(255 255 255 / 30%);
}

.reset:disabled {
  color: #ffffff;
}

.reset:focus {
  color: rgb(255 255 255 / 60%);
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.search {
  width: 1200px;
  padding: 50px 70px;
}

.search__filter {
  display: flex;
  place-content: flex-start space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.search__filter-select-wrapper {
  min-width: 292px;
  height: 49px;
  margin-left: 140px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.search__filter-select {
  width: 100%;
  height: 100%;
  font-style: normal;

  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
  outline: none;
}

.search__filter-title {
  /* Найдено гостиниц: 38 */
  display: flex;
  flex-wrap: nowrap;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000000;
}

/* .search-botton:hover {
  background-color: ;
}
.search-botton:active {
  background-color: ;
}
.search-botton:focus {
  background-color: ;
}
.search-botton:disabled {
  background-color: ;
} */

.search__item-img {
  margin-bottom: 16px;
}

.search__item-prays {
  /* Гостиница */
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search__filter-list {
  display: flex;
  justify-content: space-between;
}

.search__filter-item {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.search__filter-item-button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #ffffff;
  background-image: url('/images/burger-1.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.search__item-button {
  /* Кнопка */
  width: 140px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: 0;
  cursor: pointer;
  font-family: 'PT sans', sans-serif;
}

.search__item-button:hover {
  background-color: #615048;
}

.search__item-button:focus {
  background-color: #615048;
}

.search__item-button:active {
  background-color: #756157;
  color: rgb(255 255 255 / 30%);
}

.search__item-button:disabled {
  background-color: #e5e5e5;
}

.search__list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 20px;
  margin-bottom: 80px;
}

.search__item {
  width: 340px;
  height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 20px;
}

.search__item-title {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.search__item-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.search__item-rating-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search__item-stars-list {
  display: flex;
}

.search__item-stars-item {
  margin-top: 10px;
  margin-right: 6px;
}

.pagination {
  width: 100%;
}

.pagination__list {
  display: flex;
}

.pagination__item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;

  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border: 0;
}

.pagination__item-number:hover {
  background-color: rgb(104 162 202 / 100%);
}

.pagination__item-number:active {
  background-color: rgb(104 162 202 / 100%);
  color: rgb(255 255 255 / 30%);
}

.pagination__item-number:disabled {
  background-color: rgb(229 229 229 / 100%);
}

.pagination__item-number:focus {
  background-color: rgb(104 162 202 / 100%);
}

.subscription-catalog {
  width: 1200px;
  padding: 106px 258px 104px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-post {
  display: flex;
  width: 684px;
  height: 52px;
  justify-content: space-between;
}

.post-email {
  width: 452px;
  padding-top: 10px;
}

.post-email::placeholder {
  width: 87px;
  height: 24px;
  padding-left: 16px;
  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.6;
}

/* Стили для footer============================================================================= */
.footer {
  width: 100%;
  display: flex;
  padding: 48px 70px 40px;
  min-height: 100px;
}

.footer-social {
  display: flex;
  width: 156px;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-social-item {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url('/images/Social-VK.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer-social-item:hover {
  background-image: url('/images/vk2.png');
}

.footer-social-item:focus {
  background-image: url('/images/vk2.png');
}

.footer-social-item:active {
  background-image: url('/images/vk2.png');
  opacity: 0.6;
}

.footer-social-item-2 {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url('/images/Social-telegramm.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer-social-item-2:hover {
  background-image: url('/images/telegramm2.png');
}

.footer-social-item-2:focus {
  background-image: url('/images/telegramm2.png');
}

.footer-social-item-2:active {
  background-image: url('/images/telegramm2.png');
  opacity: 0.6;
}

.footer-social-item-3 {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url('/images/Social-yutub.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer-social-item-3:hover {
  background-image: url('/images/yutub2.png');
}

.footer-social-item-3:focus {
  background-image: url('/images/yutub2.png');
}

.footer-social-item-3:active {
  background-image: url('/images/2.png');
  opacity: 0.6;
}

.footer-tel {
  /* +7 (812) 812-12-12 */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.footer-tel:hover {
  color: #756157;
}

.footer-tel:active {
  color: rgb(117 97 87 / 30%);
}

.footer-tel:disabled {
  color: rgb(0 0 0 / 100%);
}

.footer-tel:focus {
  color: rgb(117 97 87 / 100%);
  border: none;
  outline: none;
}

.footer-logo {
  width: 156px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer;
  background-image: url('/images/Logo-text.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.footer-logo:hover {
  background-image: url('/images/Logo-text2.svg');
}

.footer-logo:active {
  background-image: url('/images/Logo-text2.svg');
  opacity: 0.6;
}

.footer-logo:disabled {
  background-image: url('/images/Logo-text2.svg');
}

.footer-logo:focus {
  background-image: url('/images/Logo-text2.svg');
}

/* модификаторы */
.search__item-button--blue {
  background-color: #82b3d3;
}

.search__item-button--blue:hover {
  background-color: #68a2ca;
}

.search__item-button--blue:active {
  background-color: #82b3d3;
}

.search__item-button--blue:focus {
  background-color: #68a2ca;
}

.search__item-button--blue:disabled {
  background-color: #e5e5e5;
}

.search__item-button--green {
  background-color: #7db54f;
}

.search__item-button--green:hover {
  background-color: #6c9e42;
}

.search__item-button--green:active {
  background-color: #7db54f;
}

.search__item-button--green:focus {
  background-color: #6c9e42;
}

.search__item-button--green:disabled {
  background-color: #e5e5e5;
}

.search__item-button--grey {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
  cursor: initial;
}

.search__item-button--grey:hover,
.search__item-button--grey:active,
.search__item-button--grey:focus {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
}

.pagination__item-number--grey {
  background-color: #f2f2f2;
  color: #000000;
  cursor: initial;
}

.pagination__item-number--grey:hover {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination__item-number--grey:active {
  background-color: #f2f2f2;
}

.pagination__item-number--grey:disabled {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination__item-number--grey:focus {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination__item-number--white {
  background-color: #ffffff;
  color: #000000;
  cursor: initial;
}

.pagination__item-number--white:hover {
  background-color: #ffffff;
  color: #000000;
}

.pagination__item-number--white:active {
  background-color: #ffffff;
  color: #000000;
}

.pagination__item-number--white:disabled {
  background-color: #ffffff;
  color: #000000;
}

.pagination__item-number--white:focus {
  background-color: #ffffff;
  color: #000000;
}

.sub-navigation-item--heart {
  position: relative;
}

.sub-navigation-item--heart::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: 4px;
  content: '12';
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;

  /* 12 */

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.advantages-description--white {
  padding-top: 112.5px;
  padding-bottom: 112.5px;
  background-color: rgb(131 179 211 / 12%);
  color: #000000;
}

.advantages-description--light-blue {
  background-color: rgb(131 179 211 / 20%);
  padding-top: 112.5px;
  padding-bottom: 112.5px;
  color: #000000;
}

.services-item--white {
  background-color: #ffffff;
}

.search__filter-item-button--2 {
  background-image: url('/images/burger-2.svg');
}

.search__filter-item-button--3 {
  background-image: url('/images/burger-3.svg');
}

.search__item-stars-item--hidden {
  display: none;
}

.search__filter-item--active {
  border-color: rgb(0 0 0 / 100%);
}

/* Range */
.options-range-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.options-range-wrapper::before {
  position: absolute;
  top: -6px;
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.options-range-wrapper::after {
  position: absolute;
  top: 2px;
  right: 0;
  content: '';
  width: 60px;
  height: 4px;
  background: #808080;
}

input[type='range'] {
  appearance: none;
  width: 300px;
  height: 4px;
  background: #ffffff;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0;
}

.counter-container--children {
  width: 242px;
}
